# Gitignore
.*
!/.github
!.HA_VERSION

## Home Assistant
backup
home-assistant.log*
home-assistant_v2.*
blueprints
deps
ip_bans.yaml

secrets.yaml

custom_components/
www/community/
www/fonts/

## Others
ssl/
zigbee2mqtt/
webostv.conf

